.players-container{

	ul{
		padding-left: 0;
		margin-top: 0;
	}

	.players-list{

		.grid-list{

			& >li:nth-child(1){
				padding-left: 10px;
			}

			& >li{
				padding-bottom: 12px;
    			padding-top: 8px;
    			box-shadow: 0px 1px 0px 0px #ded9d9;
			}
		}

		.player-list-header{
			margin-top: 10px;
			margin-bottom: 15px;
			
			.search-box-container{
			    font-size: 14px;
				.search-box{
					border: 0;
				    padding: 8px 0px;
				    width: 100%;
				    border-radius: 2px;
				    margin-left: 5px;
				}
			}
		}

		.add-player-button{
			text-align: center;
			background: #e5e5e5;
			opacity: .8;
			color: #000;
			box-shadow: 0px 1px 1px 1px #e5e5e5;
    		border-radius: 5px;
    		margin-bottom: 15px;
		}
	}
}