.header-parent{
	margin: 0;

	.logout-holder{
		text-align: right;

		.logout-icon{
			position: relative;
		    right: 20px;
		    top: 9px;
		    font-size: 28px;
		    color: #fff;
		    font-weight: 500;
		}
	}

	.welcome-banner{
		margin-top: 9px;
		font-size: 24px;
		color: #fff;
		font-weight: 500;
    	font-family: 'Roboto';
	}
}