<div class="container">
	<div class = "home-panel row">
		<ul class="tab-links-container">
			<li class="tab-link" *ngFor = "let tab of tabList; let i = index" [ngClass] = "{'active': tab.isActive}" (click) = "activateLink(i)">
				<a>{{tab.name}}</a>
			</li>
		</ul>
		<ul *ngIf = "dataSet">
			<tree-view [treeData] = "dataSet" (playerDetails) = "displayDetailedStats($event)"></tree-view>
		</ul>
	</div>
	<div class = "home-panel row">
		<ul *ngIf = "playerDetail">
			{{playerDetail.profile}}
		</ul>
	</div>
	<div class = "home-panel row">
		How are you
	</div>
</div>